.thumbnail-1 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  
}

.Search-box {
  font-size: 25px;
  border-radius: 40px;
  border-color: rgb(240, 54, 54);
  border-style: solid;
  box-shadow: 1px 1px 1px 1px rgb(211, 211, 211), -1px -1px 1px 1px rgb(211, 211, 211);
  border: none;
}