p. {
  font-family: Roboto;
}

.thumbnail-1 {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  
  
}

.Search-box {
  font-size: 25px;
  border-radius: 40px;
  border-color: rgb(240, 54, 54);
  border-style: solid;
  box-shadow: 1px 1px 1px 1px rgb(211, 211, 211), -1px -1px 1px 1px rgb(211, 211, 211);
  border: none;
  display: block;
  cursor: pointer;
}

.title {

}

.desc {

}

.stat {

}

.Video-1 {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.thumbnail-2 {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  
}

.title-2 {
margin-top: 0px;
}

.desc-2 {

}

.stat-2 {

}

.Video-2 {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.AmanSTY {
  width: 100%;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
  
}

.Viddisc {
display: inline-block;
width: 245px;
vertical-align: top;

}

.Amandiv {
  display: inline-block;
  width: 40px;
  vertical-align: top;
}

.row-1 {

}

.row-2 {
  margin-top: 12px;
}
