
            .shop-link {
                cursor: pointer;
                margin-left: 10px;
            }
        
            .shop-link:hover {
                text-decoration: underline;
            }
       
        
       
            .shopearly {
                background-color: red;
                font-size: 14px;
                margin-top: 20px;
                padding-top: 10px;
                padding-right: 10px;
                padding-left: 10px;
                padding-bottom: 10px;
                width: 425px;
                text-align: center;
            }
       
        
        
            .shopnow {
                color: white;
            }
        
        
        
            .shopearly {
                color: white;
            }
        
        
      
            p {
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 0px;
                margin-bottom: 0px;
            }
       
        
     
            .video-description {
                font-size: 14px;
                color: rgb(96, 96, 96);
                width: 280px;
                margin-top: 15px;
                line-height: 22px;
            }
   
        
      
            .video-author {
                color: rgb(96, 96, 96);
                font-size: 14px;
                margin-top: 20px;
            }
      
        
       
            .video-stats {
                font-size: 14px;
                color: rgb(96, 96, 96);
                margin-top: 10px;
            }
       
        
       
            .video-title {
                font-size: 18px;
                font-weight: bold;
                color: rgb(0, 0, 0);
                text-align: left;
                width: 280px;
                line-height: 20px;
            }
        
        
        
        
        
     
            .newApple {
                font-size: 14px;
                color: orangered;
                text-align: center;
                margin-top: 50px;
                margin-left: 0px;
                width: 300px;
            }
        
            .MacBook {
                font-size: 18px;
                color: black;
                width: 300px;
                text-align: center;
                margin-top: 5px;
            }
        
            .Supercharged {
                font-size: 24px;
                color: black;
                font-weight: bold;
                width: 300px;
                text-align: center;
                margin-top: 0px;
        
            }
        
            .dollar {
                font-size: 16px;
                color: rgb(27, 27, 27);
                width: 300px;
                text-align: center;
                margin-bottom: 0px;
                margin-top: 5px;
            }
        
            .buybutton {
                margin-top: 5px;
                width: 0px;
                text-align: center;
                background-color: rgb(75, 75, 245);
                padding-left: 10px;
                padding-right: 40px;
                padding-top: 7px;
                padding-bottom: 7px;
                margin-left: 120px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 15px;
                cursor: pointer;
        
            }
        
            .buybutton:hover {
                opacity: 0.7;
            }
      